.landing-container{
    height: 100vh;
    z-index: 1;
    width: 100%;
    margin-top: -45px;
    padding-top: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    background-color: #121212;
    object-fit: contain;
}

.landing-content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    background-color: #121212;
    object-fit: contain;
}

.landing-text{
    width: 100%;
    height: 100%;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #DDDDDD;
}

.small-heading {
    color: white;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}

.big-heading {
    color: #05d5ba;
    font-size: 5rem;
    line-height: 5rem;
    padding-bottom: 1.5rem;
}

.code {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    line-height: 2rem;
}


@media screen and (max-width: 1024px) {
    .landing-container{
        height: 100vh;
        width: 100%;
        z-index: 1;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
        background-color: #121212;
        object-fit: contain;
    }

    .landing-content{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
        background-color: #121212;
        object-fit: contain;
    }

    .landing-text{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .small-heading {
        font-size: 1.2rem;
        padding-bottom: 1.5rem;
    }

    .big-heading{
        font-size: 4.5rem;
    }
}


@media screen and (max-width: 640px) {

    .landing-text{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0rem;
        position: absolute;
    }

    .landing-img{
        height: 100%;
        width: 100%;
    }

    .small-heading {
        font-size: 1rem;
    }

    .big-heading{
        font-size: 2.8rem;
        line-height: 2.8rem;
    }

    .code {
        font-size: small;
        line-height: 1.5rem;
    }
}